In [71]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [33]:
#importing the csv file containing data on street crimes for Dec 2010 
# across all boroughs in England and Wales

df = pd.read_csv('/Users/mahimakaushiva/Desktop/Mod3Project/London Crime 
                 Data 2011 to 2014/2010-12-metropolitan-street.csv')
df.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.145949,51.593914,On or near Providence Place,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
1,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.140192,51.582311,On or near Hatch Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
2,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
3,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
4,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN

In [14]:
#checking for NaN and Null values 

df.isna().sum()

Crime ID                 19588
Month                        0
Reported by                  0
Falls within                 0
Longitude                  810
Latitude                   810
Location                     0
LSOA code                  810
LSOA name                  810
Crime type                   0
Last outcome category    19588
Context                  75196
dtype: int64

In [15]:
df.isnull().sum()

Crime ID                 19588
Month                        0
Reported by                  0
Falls within                 0
Longitude                  810
Latitude                   810
Location                     0
LSOA code                  810
LSOA name                  810
Crime type                   0
Last outcome category    19588
Context                  75196
dtype: int64

In [79]:
#dropping columns with atleast 1 null value 

df.dropna(axis = 'columns', inplace=True)
df

,Location,LSOA name,Crime type
0,On or near Providence Place,Barking and Dagenham 001A,Anti-social behaviour
1,On or near Hatch Grove,Barking and Dagenham 001A,Anti-social behaviour
2,On or near Mead Grove,Barking and Dagenham 001A,Anti-social behaviour
3,On or near Mead Grove,Barking and Dagenham 001A,Anti-social behaviour
4,On or near Mead Grove,Barking and Dagenham 001A,Anti-social behaviour
...,...,...,...
92437,On or near Lupus Street,Westminster 024F,Other crime
92438,On or near Thorndike Street,Westminster 024F,Other crime
92439,On or near Garden Terrace,Westminster 024F,Other crime
92440,On or near Garden Terrace,Westminster 024F,Other crime
92441,On or near Lupus Street,Westminster 024F,Other crime

In [73]:
#importing api to check different categories of street crime in 
# England and Wales

reply = requests.get (f'https://data.police.uk/api/crime-categories?date=2011-08').json()
reply

[{'url': 'all-crime', 'name': 'All crime'},
 {'url': 'anti-social-behaviour', 'name': 'Anti-social behaviour'},
 {'url': 'bicycle-theft', 'name': 'Bicycle theft'},
 {'url': 'burglary', 'name': 'Burglary'},
 {'url': 'criminal-damage-arson', 'name': 'Criminal damage and arson'},
 {'url': 'drugs', 'name': 'Drugs'},
 {'url': 'other-theft', 'name': 'Other theft'},
 {'url': 'possession-of-weapons', 'name': 'Possession of weapons'},
 {'url': 'public-order', 'name': 'Public order'},
 {'url': 'robbery', 'name': 'Robbery'},
 {'url': 'shoplifting', 'name': 'Shoplifting'},
 {'url': 'theft-from-the-person', 'name': 'Theft from the person'},
 {'url': 'vehicle-crime', 'name': 'Vehicle crime'},
 {'url': 'violent-crime', 'name': 'Violence and sexual offences'},
 {'url': 'other-crime', 'name': 'Other crime'}]

In [121]:
#checking for incidence of burglary across all boroughs in this time period

is_V = df['Crime type'] == 'Violence and sexual offences'
print(is_V)

0        False
1        False
2        False
3        False
4        False
         ...
92437    False
92438    False
92439    False
92440    False
92441    False
Name: Crime type, Length: 92442, dtype: bool

In [120]:
def vcp(borough = 'City of London', year='2010', month='12',):
    
    df = pd.read_csv('/Users/mahimakaushiva/Desktop/Mod3Project/London Crime Data 2011 to 2014/2010-12-metropolitan-street.csv')
    
    df['LSOA name'].fillna('No location', inplace = True)
            
    return len(data.loc[(data['LSOA name'].str.contains("City of London")) & \
                     ((data['Crime type'] == "Violent crime")|(data['Crime type'] == "Violence and sexual offences"))])
    len(data.loc[(data['LSOA name'].str.contains("City of London"))])

In [81]:
df_Burglary = df[is_Burglary]
print(is_Burglary.shape)

(92442,)