In [2]:
import pandas as pd

In [10]:
data = pd.read_excel('neets-borough-region.xls', sheet_name ='Annual (16-18)')
data.drop(['Numbers','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'],axis=1, inplace = True,)

In [11]:
data.head()

,Unnamed: 0,Unnamed: 1,Rates,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Code,Borough,2009,2010,2011.0,2012.0,2013.0,2014.0,2015.000000
1,E09000001,City of London,0.6,0.2,0.9,0.3,2.9,0.0,0.000000
2,E09000002,Barking & Dagenham,7.9,6.9,6.6,5.4,5.8,5.7,5.781410
3,E09000003,Barnet,3.8,3.6,4.1,3.5,2.3,2.5,2.033547
4,E09000004,Bexley,5,4.6,3.4,4.0,4.2,3.4,2.757009

In [12]:
new_header = data.iloc[0] #grab the first row for the header
data = data[1:] #take the data less the header row
data.columns = new_header

In [14]:
data

,Code,Borough,2009,2010,2011.0,2012.0,2013.0,2014.0,2015.0
1,E09000001,City of London,0.6,0.2,0.900000,0.3,2.900000,0.0,0.000000
2,E09000002,Barking & Dagenham,7.9,6.9,6.600000,5.4,5.800000,5.7,5.781410
3,E09000003,Barnet,3.8,3.6,4.100000,3.5,2.300000,2.5,2.033547
4,E09000004,Bexley,5,4.6,3.400000,4.0,4.200000,3.4,2.757009
5,E09000005,Brent,4.6,5,3.900000,2.4,3.000000,2.6,2.239393
6,E09000006,Bromley,4.2,4.3,5.200000,4.1,5.800000,4.3,3.432370
7,E09000007,Camden,5.5,6.4,7.200000,10.2,4.300000,4.4,4.388006
8,E09000008,Croydon,6.9,6.6,6.100000,4.4,3.000000,3.3,2.886741
9,E09000009,Ealing,4.9,4.4,3.200000,3.3,3.300000,3.0,3.222807
10,E09000010,Enfield,6.1,5.8,4.200000,4.2,4.200000,3.1,3.521019
11,E09000011,Greenwich,6.6,6.2,4.900000,6.9,6.500000,5.0,6.186373
12,E09000012,Hackney,7.4,6.2,3.900000,7.0,3.200000,3.0,2.543212
13,E09000013,Hammersmith & Fulham,5.6,5.2,4.600000,3.9,3.200000,2.5,2.372915
14,E09000014,Haringey,6.8,6.6,4.300000,3.7,3.500000,3.5,3.570539
15,E09000015,Harrow,2.9,2.7,2.500000,2.0,1.800000,1.5,1.429679
16,E09000016,Havering,4.7,4,4.500000,4.7,4.300000,4.0,3.414373
17,E09000017,Hillingdon,5.4,4.6,3.900000,3.6,3.500000,2.4,2.818430
18,E09000018,Hounslow,4.7,4.6,4.400000,4.4,4.100000,3.2,2.494725
19,E09000019,Islington,7.3,6.2,8.400000,8.8,5.000000,5.2,2.203158
20,E09000020,Kensington & Chelsea,5,5.3,6.900000,8.6,5.100000,3.6,3.129297
21,E09000021,Kingston upon Thames,3.4,3.1,3.300000,3.6,4.200000,3.9,2.610869
22,E09000022,Lambeth,7.6,7.4,3.600000,7.5,2.700000,2.2,1.981717
23,E09000023,Lewisham,4.9,4.7,5.100000,3.0,3.500000,3.5,3.229070
24,E09000024,Merton,5.6,5.5,4.600000,4.0,4.600000,4.3,3.463639
25,E09000025,Newham,6.7,6.4,4.600000,5.3,4.000000,4.3,3.675372
26,E09000026,Redbridge,4.1,4.1,4.000000,3.6,3.400000,3.3,3.335432
27,E09000027,Richmond upon Thames,3.5,3.8,5.200000,3.9,4.500000,4.3,3.115401
28,E09000028,Southwark,8.7,8.4,4.400000,7.7,2.900000,2.0,2.177661
29,E09000029,Sutton,4.4,4.2,4.200000,3.9,4.000000,3.2,2.420770
30,E09000030,Tower Hamlets,6,5.3,5.000000,4.9,4.600000,3.4,3.418978
31,E09000031,Waltham Forest,4.5,4.2,3.600000,3.7,3.300000,3.0,2.953730
32,E09000032,Wandsworth,4.3,4.5,5.100000,7.1,3.500000,2.9,3.009841
33,E09000033,Westminster,4.6,4.1,5.100000,7.5,3.800000,2.2,1.665284
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,E13000001,Inner London,-,-,4.938576,5.5,3.680681,3.3,2.915589
36,E13000002,Outer London,-,-,4.342574,3.5,3.912807,3.4,3.138831
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,E12000001,NORTH EAST,-,-,8.800000,8.3,7.599199,7.0,5.696309
39,E12000002,NORTH WEST,-,-,7.100000,6.4,5.600233,5.2,4.779808
40,E12000003,YORKS & THE HUMBER,-,-,7.100000,6.3,5.700046,5.1,4.769541
41,E12000004,EAST MIDLANDS,-,-,5.400000,4.8,4.800625,4.4,3.896754
42,E12000005,WEST MIDLANDS,-,-,6.200000,6.2,5.997681,5.4,4.287773
43,E12000006,EAST OF ENGLAND,-,-,6.000000,5.6,5.101964,4.5,4.221750
44,E12000007,LONDON,5.3,5,4.500000,4.7,3.798578,3.4,3.073397
45,E12000008,SOUTH EAST,-,-,5.800000,5.4,5.098278,4.2,3.855537
46,E12000009,SOUTH WEST,-,-,5.700000,5.5,5.202618,4.5,4.097707
47,NaN,NaN,-,-,NaN,NaN,NaN,NaN,NaN
48,E92000001,England,-,-,6.119501,5.0,5.254910,4.7,4.168570